{% for task in tasks %}
<tr>
  <td>{{ task.task_id }}</td>
  <td>{{ task.name }}</td>
  <td style="max-width: 200px; word-wrap: break-word; white-space: pre-wrap;">{{ task.status }}</td>
  <td>{{ task.created_at }}</td>
  <td>{{ task.updated_at }}</td>
</tr>
{% endfor %}

{% if total_pages > 1 %}
<tr>
  <td colspan="5" class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {% if current_page > 1 %}
        <li class="pure-menu-item">
          <a class="pure-button pure-menu-link" 
             hx-get="/tasks?page={{ current_page - 1 }}"
             hx-target="tbody"
             hx-swap="innerHTML">Previous</a>
        </li>
      {% endif %}
      <li class="pure-menu-item pure-menu-disabled">
        <span class="pure-menu-link">Page {{ current_page }} of {{ total_pages }}</span>
      </li>
      {% if current_page < total_pages %}
        <li class="pure-menu-item">
          <a class="pure-button pure-menu-link"
             hx-get="/tasks?page={{ current_page + 1 }}"
             hx-target="tbody"
             hx-swap="innerHTML">Next</a>
        </li>
      {% endif %}
    </ul>
  </td>
</tr>
{% endif %}
