<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Price Monitor Settings</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
  <script src="https://unpkg.com/htmx.org"></script>
  <style>
    .button-error {
      color: white;
      background: rgb(202, 60, 60);
    }
  </style>
</head>
<body>
  <div class="pure-g" style="padding: 20px">
    <div class="pure-u-1">
      <h1>Settings</h1>
      
      <div id="cookies-form">
        {% include "partials/cookies.html" %}
      </div>
      
      <h2>Company IDs</h2>
      <table class="pure-table pure-table-bordered" style="margin-top: 20px">
        <thead>
          <tr>
            <th colspan="2">Company IDs</th>
          </tr>
        </thead>
        <tbody id="company-list">
          {% include "partials/company_ids.html" %}
        </tbody>
      </table>

      <h2>Scheduled Times</h2>
      <table class="pure-table pure-table-bordered" style="margin-top: 20px">
        <thead>
          <tr>
            <th colspan="2">Scheduled Times (HH:MM)</th>
          </tr>
        </thead>
        <tbody id="scheduled-times-list">
          {% include "partials/scheduled_times.html" %}
        </tbody>
      </table>

      <h2>Report Path</h2>
      <div id="report-path-form">
        {% include "partials/report_path.html" %}
      </div>
    </div>
  </div>
</body>
</html>
